.App {
    text-align: center;
}
#root {
    border-color: #d1d5bc;
}
div {
    display: grid;
    justify-content: center;
}
select {
   background-color: #d1d5bc;
}

input {
    background-color: #d1d5bc;
}
